@model AppUser

@{
    ViewData["Title"] = "Detail účtu";
}

<div class="container">
    <div class="row mt-4 text-center">
        <h1 class="mb-0">Detail účtu</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-3 col-md-1">
            <hr class="mb-md-3" />
        </div>
    </div>
    @if (ViewBag.Message != null)
    {
        <div class="row mb-3 text-white justify-content-center">
            <div class="col-8 col-md-4 text-center bg-success rounded">
                <h4 class="mb-0">@ViewBag.Message</h4>
            </div>  
        </div>
    }
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">ID:</th>
                        <td class="text-center fw-bold">@Html.DisplayFor(model =>model.Id)</td>
                    </tr>
                    <tr>
                        <th scope="row">Rodné číslo:</th>
                        <td class="text-center">@Html.DisplayFor(model =>model.IdNumber)</td>
                    </tr>
                    <tr>
                        <th scope="row">Jméno:</th>
                        <td class="text-center">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</td>
                    </tr>
                    <tr>
                        <th scope="row">Email:</th>
                        <td class="text-center">@Html.DisplayFor(model =>model.Email)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <a class="btn btn-outline-success btn-lg" asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id">Upravit</a>
            <a class="btn btn-outline-primary btn-lg" asp-controller="Account" asp-action="ChangePassword">Změnit heslo</a>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-12 text-center">
            <form asp-controller="Account" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                <span id="confirmDeleteSpan" style="display:none">
                    <h4 class="fw-bold mt-1">Opravdu chcete odstranit svůj účet?<br /></h4>
                        <button type="submit" class="btn btn-outline-danger btn-lg">Ano</button>
                    <a href="#" class="btn btn-outline-primary btn-lg" onclick="confirmSelfDelete(false)">Ne</a>
                </span>

                <span id="deleteSpan">
                    <a href="#" class="btn btn-outline-danger btn-lg" onclick="confirmSelfDelete(true)">Odstranit účet</a>
                </span>
            </form>
        </div>
    </div>
</div>
  

@section Scripts{
    <script src="~/js/deleteConfirm.js"></script>
}



