@model AppUser

<div class="card">
            <div class="card-header">
                Id klienta: @Html.DisplayFor(model => model.Id)
            </div>
            <div class="card-body">
                @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
                @Html.DisplayFor(model => model.Email)
            </div>
            <div class="card-footer">
                <form asp-controller="Account" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <a class="btn btn-outline-success" asp-controller="Account" asp-action="Edit" asp-route-id="@Model.Id">Upravit</a>
                    <span id="confirmDeleteSpan" style="display:none">
                        <span class="font-weight-bold">Opravdu chcete odstranit svůj účet?</span>
                        <button type="submit" class="btn btn-outline-danger">Ano</button>
                        <a href="#" class="btn btn-outline-primary" onclick="confirmSelfDelete(false)">Ne</a>
                    </span>

                    <span id="deleteSpan">
                        <a href="#" class="btn btn-outline-danger" onclick="confirmSelfDelete(true)">Odstranit</a>
                    </span>
                </form>
            </div>
        </div>


  
<a asp-controller="Home" asp-action="Index">Domů</a>

@section Scripts{
    <script src="~/js/deleteConfirm.js"></script>
}



